---
import styles from "./Header.module.css";
const basePath = import.meta.env.BASE_URL || "/";
---

<header class=`${styles.header} horizontal-pad`>
  <div class={styles.headerInner}>
    <div class={styles.headerWrapper}>
      <div class={styles.headerLeft}>
        <img
          class=`${styles.hamburger} hamburger`
          src="/audiophile-ecommerce/assets/shared/tablet/icon-hamburger.svg"
          alt="Logo"
        />
        <a href={basePath} class={styles.headerLogo} data-astro-prefetch>
          <img
            src="/audiophile-ecommerce/assets/shared/desktop/logo.svg"
            alt="Logo"
          />
        </a>
      </div>
      <nav class={styles.headerNavigation}>
        <a href={basePath} class={styles.headerItem} data-astro-prefetch>
          <span class="subtitle">HOME</span>
        </a>
        <a
          href=`${basePath}headphones`
          class={styles.headerItem}
          data-astro-prefetch
        >
          <span class="subtitle">HEADPHONES</span>
        </a>
        <a
          href=`${basePath}speakers`
          class={styles.headerItem}
          data-astro-prefetch
        >
          <span class="subtitle">SPEAKERS</span>
        </a>
        <a
          href=`${basePath}earphones`
          class={styles.headerItem}
          data-astro-prefetch
        >
          <span class="subtitle">EARPHONES</span>
        </a>
      </nav>
      <div class={styles.headerCart}>
        <img
          src="/audiophile-ecommerce/assets/shared/desktop/icon-cart.svg"
          alt="Cart"
        />
      </div>
    </div>
  </div>
</header>
