---
const { product } = Astro.props;
import styles from "./ProductInfo.module.css";
import Button from "../Button/index.astro";
import QuantityCounter from "../QuantityCounter/index.astro";
const includes = product.includes;

let quantity = 1;
function formatPrice(price: number) {
  return `$ ${price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`;
}

interface IncludeItem {
  quantity: number;
  item: string;
}

function getFirstThreeLines(text: string) {
  const lines = text.split(".");

  return lines.slice(0, 3).join(".");
}

function getRemainingLines(text: string) {
  const lines = text.split(".");

  return lines.slice(3).join("\n");
}
---

<div class={styles.product}>
  <section class={styles.mainInfo}>
    <picture class={styles.productImage}>
      <source srcset={product.image.desktop} media="(min-width: 1024px)" />
      <source srcset={product.image.tablet} media="(min-width: 600px)" />
      <source srcset={product.image.mobile} media="(max-width: 599px)" />
      <img src={product.image.desktop} alt={product.name} />
    </picture>
    <div class={styles.productInfo}>
      <div class={styles.productText}>
        {product.new && <span class="overline">NEW PRODUCT</span>}
        <h2>{product.name}</h2>
        <p>{product.description}</p>
        <h6>{formatPrice(product.price)}</h6>
      </div>
      <div class={styles.productButtons}>
        <QuantityCounter quantity={quantity} />
        <Button buttonType="1" link="#" text="ADD TO CART" />
      </div>
    </div>
  </section>
  <section class={styles.secInfo}>
    <div class={styles.features}>
      <h3>FEATURES</h3>
      <p>{getFirstThreeLines(product.features)}.</p>
      <p>{getRemainingLines(product.features)}.</p>
    </div>
    <div class={styles.includes}>
      <h3>IN THE BOX</h3>
      <ul class={styles.includesList}>
        {
          includes.map((item: IncludeItem) => (
            <div class={styles.includesItem}>
              <p class={styles.includesQuantity}>{item.quantity}x</p>
              <p class={styles.includesName}>{item.item}</p>
            </div>
          ))
        }
      </ul>
    </div>
  </section>
  <section class={styles.gallery}>
    <picture class={styles.galleryFirst}>
      <source
        srcset={product.gallery.first.desktop}
        media="(min-width: 1024px)"
      />
      <source
        srcset={product.gallery.first.tablet}
        media="(min-width: 600px)"
      />
      <source
        srcset={product.gallery.first.mobile}
        media="(max-width: 599px)"
      />
      <img src={product.gallery.first.desktop} alt="Gallery First" />
    </picture>
    <picture class={styles.gallerySecond}>
      <source
        srcset={product.gallery.second.desktop}
        media="(min-width: 1024px)"
      />
      <source
        srcset={product.gallery.second.tablet}
        media="(min-width: 600px)"
      />
      <source
        srcset={product.gallery.second.mobile}
        media="(max-width: 599px)"
      />
      <img src={product.gallery.second.desktop} alt="Gallery Second" />
    </picture>
    <picture class={styles.galleryThird}>
      <source
        srcset={product.gallery.third.desktop}
        media="(min-width: 1024px)"
      />
      <source
        srcset={product.gallery.third.tablet}
        media="(min-width: 600px)"
      />
      <source
        srcset={product.gallery.third.mobile}
        media="(max-width: 599px)"
      />
      <img src={product.gallery.third.desktop} alt="Gallery Third" />
    </picture>
  </section>
</div>
