---
const { quantity } = Astro.props;
import styles from "./QuantityCounter.module.css";
---

<div class={styles.counter}>
  <div class={styles.counterInner}>
    <a href="#"><p class={styles.symbol}>-</p></a>
    <p class={styles.quantity}>{quantity}</p>
    <a href="#"><p class={styles.symbol}>+</p></a>
  </div>
</div>
